.button {
    background-color: #008CBA ; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

body {
    background-color: lightskyblue;
}
table {
    border-collapse: collapse;
    width: 100%;
    background-color: #f2f2f2;
}
tr:nth-child(even){background-color: lightgrey}
tr:hover {
          background-color: #008CBA;
        }
th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #008CBA;
    color: white;
}
