<!DOCTYPE html>
<html>
    <head>
        <title>Super Sprinter 3000</title>
    </head>
    <body>
        <form action="/story" method="post">
        <h2>User Story Manager - Add new story</h2>
        <p>Story Title:<br>
        <textarea rows="1" cols="30" name="story_title" id="story_title" required></textarea></p>
        <p>User story:<br>
        <textarea rows="6" cols="30" name="user_story" id="user_story" required></textarea></p>
        <p>Acceptance criteria:<br>
        <textarea rows="6" cols="30" name="acceptance_criteria" id="acceptance_criteria" required></textarea></p>
        <p>Business Value<br>
        <input type="number" min="100" max="1500" step="100" name="business_value" id="business_value" required></p>
        <p>Estimation (h)<br>
        <input type="number" min="0.5" max="40" step="0.5" name="estimation" id="estimation" required></p>
        <p>Status<br>
        <select name="select" id="select" required>
            <option>Planning</option>
            <option>TODO</option>
            <option>In Progress</option>
            <option>Review</option>
            <option>Done</option>
        </select></p>
        <p><input type="submit" value="Create" name="create" id="create"></p>
    </form>
    </body>
    </html>