<!DOCTYPE html>
<html>
    {% if not story_id %}
    <head>
        <title>Super Sprinter 3000 - Add new Story</title>
        <link rel="stylesheet" type='text/css' href="/static/style.css" title="SSprint">
    </head>
    <body>
        <form action="/story" method="POST">
        <h2>User Story Manager - Add new story</h2>
        <p>Story Title:<br>
        <textarea rows="1" cols="30" name="story_title" id="story_title" maxlength="64" required></textarea></p>
        <p>User story:<br>
        <textarea rows="6" cols="30" name="user_story" id="user_story" maxlength="512" required></textarea></p>
        <p>Acceptance criteria:<br>
        <textarea rows="6" cols="30" name="acceptance_criteria" id="acceptance_criteria"maxlength="256"required></textarea></p>
        <p>Business Value<br>
        <input type="number" min="100" max="1500" step="100" name="business_value" id="business_value"required></p>
        <p>Estimation (h)<br>
        <input type="number" min="0.5" max="40" step="0.5" name="estimation" id="estimation"required></p>
        <p>Status<br>
        <select name="select" id="select" required>
            <option>Planning</option>
            <option>TODO</option>
            <option>In Progress</option>
            <option>Review</option>
            <option>Done</option>
        </select></p>
        <div name="bottom_button1" id="bottom_button1">
        <a href="/list" class="button" id="button">Go to entry list</a> 
        </div>
        <div name="bottom_button2" id="bottom_button2"> 
        <p><button type="submit" value="Create" name="create" class="button" id="button">Create</button></p>
        </div>
    </form>
    </body>
    {% else %}
    <head>
        <title>Super Sprinter 3000 - Edit Story</title>
        <link rel="stylesheet" type='text/css' href="/static/style.css" title="SSprint">
    </head>
    <body>
        <form action="/update" method="POST">
        <h2>Super Sprinter 3000 - Edit Story</h2>
        <p>Story Title:<br>
        <textarea rows="1" cols="30" name="story_title" id="story_title" maxlength="64" required>{{ update_list[1] }}</textarea></p>
        <p>User story:<br>
        <textarea rows="6" cols="30" name="user_story" id="user_story" maxlength="512" required>{{ update_list[2] }}</textarea></p>
        <p>Acceptance criteria:<br>
        <textarea rows="6" cols="30" name="acceptance_criteria" id="acceptance_criteria" maxlength="256" required>{{ update_list[3] }}</textarea></p>
        <p>Business Value<br>
        <input type="number" min="100" max="1500" step="100" name="business_value" id="business_value" value="{{ update_list[4] }}"required></p>
        <p>Estimation (h)<br>
        <input type="number" min="0.5" max="40" step="0.5" name="estimation" id="estimation" value="{{ update_list[5] }}" required></p>
        <p>Status<br>
        <select name="select" id="select">
            <option selected hidden>{{ update_list[6] }}</option>
            <option>Planning</option>
            <option>TODO</option>
            <option>In Progress</option>
            <option>Review</option>
            <option>Done</option>
        </select></p>
        
        <div name="bottom_button1" id="bottom_button1">
        <a href="/list" class="button" id="button">Go to entry list</a>
        </div>
        <div name="bottom_button2" id="bottom_button2">
        <p><button type="submit" value="{{ update_list[0] }}" name="update" class="button" id="button">Update</button></p>
        </div>
    </form>
    </body>
    {% endif %}
    </html>